html, body  
	{background: #ffffff; 
	 text-align: center; 
	 font-size: 1em; 
	 font-family: calibri;
	}
	
body
{margin: 0 ! important;
}

h1
{color: #808080
}

@media only screen and (max-width: 1200px) {
#prawe_menu { display: block; }
}
